@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Space Mono", monospace;
  font-size: 0.8rem;
}

body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

#root {
  height: auto;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg__gradient {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}